body{
	padding-top: 61.53px;
}
h2{
	font-family: 'Raleway-SemiBold';
	font-size: 78.74px;
	color: #FFFFFF;
	text-transform: capitalize;
	margin-bottom: 36.3px;
}
h3{
	font-family: 'Raleway-SemiBold';
	font-size: 26px;
	color: #1A1A1B;
	text-transform: capitalize;
	padding-top: 25.6px;
}
h4{
	font-family: 'Raleway-SemiBold';
	font-size: 18px;
	color: #1A1A1B;
	text-transform: uppercase;
}
span{
	font-family: 'Raleway-SemiBold';
	font-size: 16px;
	color: #8D8D8D;
	text-transform: uppercase;
	height: 19px;
}
p{
	font-family: 'Raleway';
	font-size: 16px;
	color: #8D8D8D;
	text-transform: capitalize;
}
/*Header*/
.header{
	padding: 25px 0px 25px 95px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: #FFFFFF;
	z-index: 1;
}
.logo{
	display: inline-block;
	vertical-align: middle;
}
.navigation{
	display: inline-block;
	vertical-align: middle;
	margin-left: 88.9px;
}
.list{
	display: inline-block;
	vertical-align: middle;
	margin-right: 49px;
}
.links{
	font-size: 15.74px;
	font-family: 'Raleway-SemiBold';
	color: #303134;
	text-transform: capitalize;
}
/*Banner*/
.banner-padding{
	padding: 0px 0px 75.8px 0px;
}
.banner-text{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.banner{
	width: 100%;
}
.banner-span{
	font-family: 'Raleway-SemiBold';
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
}
/*Lower Section*/
.lower-section{
	height: 668px;
	width: 1176px;
	margin: 0 auto;
}
.lower-section-padding{
	padding-bottom: 93px;
}
.separate-box{
	display: inline-block;
	vertical-align: top;
}
.separate-paragraph{
	width: 234px;
	margin-top: 40.1px;
}
.airplane{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 269px;
	margin-left: 59.1px;
}
.cruise{
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 269px;
	margin-top: 53px;
	margin-left: 290.1px;
}
.group-box{
	display: inline-block;
	vertical-align: top;
	width: 269px;
	margin-left: 31.9px;
}
.lower-group-box{
	display: inline-block;
	vertical-align: top;
	width: 269px;
	margin: 53px 0px 0px 31.9px;
}
.absolute-header{
	position: absolute;
	top: 28.4px;
	left: 59.5px;
}
.header-4{
	margin: 22.3px 0px 8.8px 0px;
}
.absolute-paragraph{
	margin-top: 52.1px;
}
.paragraph{
	width: 269px;
}